.chat-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.chat-layout > div:first-of-type {
    flex: 0 0 80%;
    overflow-y: scroll;
}

.chat-layout > div:last-of-type {
    flex: 0 0 20%;
    overflow:hidden
}