* {
  box-sizing: border-box;
}

.chat-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-layout>div:first-of-type {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  padding-bottom: 20px;
}

.chat-layout>div:last-of-type {
  flex: 0 0 auto;
  padding: 20px 0;
}